<section style="background-color: #ffffff">
    <div class="container-fluid py-1">
        <h3 class="font-semibold text-center text-[#03045E]  text-2xl">
            Servicios Registrados
        </h3>
        <div class="row  py-4 g-3">
            @for (servicio of servicios; track $index) {
                <div class="col-md-6">
                    <app-card-servicio-public [servicio]="servicio"></app-card-servicio-public>
                </div>
                }@empty {
                <h3 class="font-semibold text-center text-[#03045E]  text-2xl">
                    Aun no hay productos publicados
                </h3>
                }
        </div>
    </div>
</section>