<div class="container">
    <br>
    <div class="welcome-section">
        <div class="welcome-message">
            <h2 class="text-center">Bienvenido</h2>
            <p>Para Registrarte tienes que tener una cuenta vigente en un portal de
                <strong> Pagos (pasarela de pagos)</strong>
            </p>
            <br>
            <div class="calendar-icon">
                <img src="../../../assets/logo.png" alt="Icono de Reserva">
            </div>
        </div>
    </div>

    <div class="registro-section">
        <div class="registro-form">
            <h3 class="font-mono py-2">Registro</h3>
            <form [formGroup]="registerForm" (submit)="register()">
                <input type="text" placeholder="Nombre Completo" required formControlName="name">
                <input type="email" placeholder="Correo Electronico" required formControlName="email">
                <input type="number" placeholder="CUI" required formControlName="cui">
                <input type="password" placeholder="Contraseña" required formControlName="password">
                <input type="password" placeholder="Confirmar Contraseña" required formControlName="passwordConfirm">
                <!-- Agregar lista de pasarelas de pago -->
                <div class="py-2">
                    <label for="paymentGateway" class="block text-gray-700 mb-2">Selecciona tu pasarela de pagos</label>
                    <select id="paymentGateway" formControlName="payment_method"
                        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
                        <option value="PAYPAL">PayPal</option>
                        <option value="PAYMENT_GATEWAY_A">PasSeguro</option>
                        <option value="PAYMENT_GATEWAY_B">PasLibre</option>
                    </select>
                </div>

                <button type="submit">Registrar</button>

            </form>
            <p>¿Ya tienes Cuenta? <a href="#">Login</a></p>
        </div>
    </div>
</div>
<br>
<br>
<br>