@if (verGentarl) {
<section class="container-fluid font-mono">
    <div class="row">
        <div class="my-2">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Solicitud de Productos</h3>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">Nombre del producto</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Fecha de registro</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (producto of productosPendientes; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(producto)">
                                {{producto.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link"
                                (click)="mostrarUsuario(producto.usuario)">{{producto.usuario.nombre_usuario}}
                            </a>
                        </td>
                        <td class="text-center">{{producto.fecha_reg_actuli}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            (click)="modalDescripcionRechazo(producto.producto_id)"> Rechazar</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"
                                            (click)="aceptarProducto(producto.usuario.usuario_id, producto.producto_id)">Aceptar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="my-2">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">
                Solicitud de Categorias
            </h3>
            <table class="table table-bordered">
                <thead class="table-success">
                    <tr class="text-center">
                        <th>#</th>
                        <th>Nombre de la Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (categoria of categoriasPendientes; track $index) {
                    <tr class="text-center">
                        <th scope="row">{{$index+1}}</th>
                        <td><a class="btn btn-link" (click)="mostrarModalCategoria(categoria)">
                                {{categoria.alias}}
                            </a></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="updateCategoria(categoria,3)"> Rechazar</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" (click)="updateCategoria(categoria,2)">Aceptar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
        <div>
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">
                Productos Reportados
            </h3>
            <table class="table table-bordered text-center">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>producto</th>
                        <th>Descripcion de reporte</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (reporte of reportes; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProductoReporte(reporte.producto)">
                                {{reporte.producto?.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDesReporte(reporte)">
                                ver Descripcion
                            </a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="reporteVisto(reporte)">Marcar como visto</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"
                                            (click)="verReportesProductoEspecifico(reporte.producto_id|| 0, reporte.producto)">Ver
                                            mas reportes del producto</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
}@else {
<section class="container-fluid font-mono">
    <div class="row">
        <div class="my-2">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Reporte de <a> {{productoRevision.nombre}}</a>
            </h3>
            <br>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    @for (report of reportesProducto; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            {{report.descripcion}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-info" (click)="verGentarl = true">Regresar</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"> 
            <button class="btn btn-danger" (click)="darDeBajaProducto(productoRevision.producto_id)">Dar de Baja</button>
        </div>
    </div>
</section>
}