<div class="container">
    <div class="flex flex-col space-y-1.5 p-6 text-center">
        <h3 class="font-semibold text-[#03045E]  text-2xl">
            Formulario de registro y publicacion de Producto
        </h3>
        <p class="text-sm text-muted">
            Ingresa los datos de tu producto que deseas publicar, llena todos los campos requeridos
        </p>
    </div>
    <div class="border px-4 py-4 rounded-xl">
        <form [formGroup]="registerForm" (submit)="register()" class="row g-3">
            <span class="text-center text-xl">Informacion del Producto</span>
            <span class="text-sm text-muted text-[#03505e] ">Campos Obligatorios</span>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Lavadora Electrica"
                    formControlName="nombre">
            </div>
            <div class="col-md-8">
                <label for="inputAddress" class="form-label">Especificaciones del producto</label>
                <input type="text" class="form-control" id="inputAddress"
                    placeholder="lavadora marca whirlpool, 29kg de capacidad automatico"
                    formControlName="especificaciones">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Cantidad en existencia</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                            <path
                                d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                    <input type="number" class="form-control" id="inputCity"
                        placeholder="ingres la cantidad de unidades disponibles" formControlName="cantidad_exit">
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Imagen del Producto</label>
                <input type="file" accept="image/*" class="form-control" id="inputAddress"
                    placeholder="Nombre de Usuario" formControlName="url_foto" (change)="onFileSelected($event)">
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Selecciona una categoria</label>
                <select class="form-select" aria-label="Default select example" formControlName="categoria">
                    @for (categoria of categorias; track $index) {
                        @if (categoria.categoria_id===11) {
                        <option selected>{{categoria.alias}}</option>
                        }@else {
                        <option value={{categoria.categoria_id}}>{{categoria.alias}}</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-12">
                <label for="inputAddress" class="form-label">Descripcion</label>
                <textarea class="form-control" aria-label="With textarea"
                    placeholder="ingrese una descripcion del producto, detalles, advertencias..."
                    formControlName="descripcion"></textarea>
            </div>
            <br>
            <span class="text-center text-xl">Forma de Pago</span>
            <span class="text-sm text-muted text-[#03505e] ">Campos Obligatorios, debe de escoger al menos una forma de
                pago</span>
            <div class="col-md-4">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        formControlName="permite_trueque">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        Por Intercambio
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Precio con moneda del sistema</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cash" viewBox="0 0 16 16">
                            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z" />
                        </svg>
                    </span>
                    <input type="number" class="form-control" id="inputCity" placeholder="0"
                        formControlName="moneda_sistema">
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Precio en Quetzales</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        Q
                    </span>
                    <input type="number" class="form-control" id="inputCity" placeholder="0"
                        formControlName="moneda_local">
                </div>
            </div>
            <span class="text-sm text-muted text-[#03505e] ">
                &#10003; Por defecto es 0, esto significa que no se puede pagar de
                esa manera
                <br>
                &#10003; Despues de registrar Podra editar el producto y seleccionar mas categorias si asi desea
            </span>
            <div class="col-12">
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>