<div class="flex justify-between  p-3 border rounded-lg">
    <div class="btn-group">
        <button type="button" class="btn bg-white border text-black dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filtrar por Tipo
        </button>

    </div>
    <div class="btn-group">
        <button type="button" class="btn bg-white border text-black dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filtrar por Forma de Remuneración
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Moneda del Sistema</a></li>
            <li><a class="dropdown-item" href="#">Moneda Local (Q)</a></li>
            <li><a class="dropdown-item" href="#">Trueque</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Todos</a></li>
        </ul>
    </div>
    <button class="px-4 py-2 border text-black rounded-lg mr-2" (click)="goPublicar()">
        Publicar un Servicio
    </button>
</div>
<section style="background-color: #ffffff">
    <div class="container-fluid py-1">
        <h3 class="font-semibold text-center text-[#03045E]  text-2xl">
            Servicios Registrados
        </h3>
        <div class="row  py-4 g-3">
            @for (servicio of servicios; track $index) {
                <div class="col-md-6">
                    <app-card-servicio [servicio]="servicio"></app-card-servicio>
                </div>
                }@empty {
                <h3 class="font-semibold text-center text-[#03045E]  text-2xl">
                    Aun no hay productos publicados
                </h3>
                }
        </div>
    </div>
</section>