<section class="container-fluid font-mono">
    <div class="row">
        <div class="my-2">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Solicitud de Eventos</h3>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">Nombre del Evento</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Fecha de registro</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (evento of eventosPendientes; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosEvento(evento)">
                                {{evento.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link" (click)="mostrarUsuario(evento.usuario)">
                                {{evento.usuario.name}}
                            </a>
                        </td>
                        <td class="text-center">{{evento.fecha_creacion}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" (click)="modalDescripcionRechazo(evento.evento_id)"> 
                                            Rechazar
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="aceptarEvento(evento.usuario.id, evento.evento_id)">
                                            Aceptar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="my-2">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">
                Solicitud de Categorias (tipo de eventos)
            </h3>
        </div>
        <table class="table table-bordered">
            <thead class="table-success">
                <tr class="text-center">
                    <th>#</th>
                    <th>Nombre de la Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (tipoEvento of tipoEventoPendientes; track $index) {
                    <tr class="text-center">
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarModalTipoEvento(tipoEvento)">
                                {{tipoEvento.alias}}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="updateCategoria(tipoEvento,3)">Rechazar</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" (click)="updateCategoria(tipoEvento,2)">Aceptar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">
                Eventos Reportados
            </h3>
            <table class="table table-bordered text-center">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Evento</th>
                        <th>Descripcion de reporte</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (reporte of reportes; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProductoReporte(reporte.evento)">
                                {{reporte.evento?.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDesReporte(reporte)">
                                ver Descripcion
                            </a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item">Marcar como visto</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item">
                                        Ver mas reportes del producto
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>