<header class="flex items-center h-20 border-b gap-4 px-4 lg:px-6 shadow-md fixed top-0 left-0 w-full bg-white z-10">
  <nav class="hidden lg:flex items-center gap-4 shrink-0 text-sm font-medium">
    <a class="font-semibold text-2xl text-[#03045E]" [routerLink]="['']">
      ECOVOLUN-APP
    </a>
  </nav>
  <form class="ml-auto flex-1 lg:ml-0">
    <div class="relative">
      <input
        class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px] bg-white"
        placeholder="Search products..." type="search">
    </div>
  </form>
  @if (!authService.usuarioSesion) {
  <button type="button" class="btn btn-info" (click)="goLogin()">Iniciar Sesion</button>
  <button type="button" class="regis btn btn-info" (click)="goResigster()">Registrarse</button>
  } @else {
    <button type="button" class="btn btn-info" (click)="closeSesion()">Cerrar Sesion</button>
    <a href="">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
      </svg>
    </a>
  }
  

</header>