<section class="container-fluid font-mono">
    <div class="row">
        <div class="col-md-4">
            <h3 class=" text-[#03045E] my-2">Valor de intercambio</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">moneda Sistema</th>
                        <th class="text-center">ms: {{divisia.moneda_sistema}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th class="text-center">moneda local</th>
                        <th class="text-center">Q: {{divisia.moneda_local}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <button class="btn btn-info mt-12" (click)="modalUpdateDivisa()" >editar</button>
        </div>
    </div>
    <h3>Mas datos del estado de cuenta</h3>
</section>