.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid #2196fe;
  border-right: 5px solid #2196fe;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #CAF0F8 0%, rgba(255, 255, 255, 0) 71.88%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #FFFFFF;

}

.blue-hover:hover {
  transform: translateY(-5px);
  border: non;
  border-bottom: 5px solid #03045E;
  border-right: 5px solid #03045E;
}

img {
  max-height: 220px;
}