<section class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="shadow p-3 border rounded-lg">
                <img class="w-full h-full rounded-full ima" src="../../../assets/perfil.webp" alt="Card image cap">
                <div class="mt-4">
                    <h4 class="my-2 text-lg font-mono  text-[#03045E]">
                        {{usuario?.name}}
                    </h4>
                    <p class="my-2 font-mono flex justify-between">
                        {{usuario?.email}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </p>
                    <button class="btn btn-info font-mono w-full my-2">editar perfil</button>
                    <button class="btn btn-primary font-mono  w-full my-2" (click)="goCuentaMonetaria()">Historial de
                        Transacciones</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 font-mono text-sm">
            <div class="shadow p-3 border rounded-lg">
                <div class="productos">
                    <h3 class="my-3 mx-1 text-base">
                        Otras opciones
                    </h3>
                    <div class="flex justify-between  p-3 border rounded-lg">
                        <button class="px-4 py-2 border bt1 rounded-lg">
                            Mis Compras
                        </button>
                        <button class="px-4 py-2 border bt2 rounded-lg">
                            Historial de Transacciones
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>