<div class="container">
    <div class="flex flex-col space-y-1.5 p-6 text-center">
        <h3 class="font-semibold text-[#03045E]  text-2xl">
            Formulario de registro y publicacion de Servicios
        </h3>
        <p class="text-sm text-muted">
            Ingresa los datos de tu servisio que deseas publicar, llena todos los campos requeridos
        </p>
    </div>

    <div class="border px-4 py-4 rounded-xl">
        <form class="row g-3" [formGroup]="registerForm" (submit)="register()">
            <span class="text-center text-xl">Informacion del Servicio </span>
            <span class="text-sm text-muted text-[#03505e] ">Campos Obligatorios</span>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Nombre del Servicio</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Levantado de Muro"
                formControlName="nombre">
            </div>
            <div class="col-md-8">
                <label for="inputAddress" class="form-label">Descripcion</label>
                <textarea class="form-control" aria-label="With textarea"
                    placeholder="ingrese una descripcion del servicio, detalles, advertencias..."
                    formControlName="descripcion" ></textarea>
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Imagen Para la publicacion</label>
                <input type="file" accept="image/*" class="form-control" id="inputAddress"
                (change)="onFileSelected($event)" formControlName="url_foto">
            </div>
            <div class="col-md-8">
                <label for="inputAddress" class="form-label">Lugar de Realizacion</label>
                <input type="text" class="form-control" id="inputAddress"
                    placeholder="ciudad, departamento, municipio, comunidad..." formControlName="lugar_realizacion">
            </div>
            <div class="col-md-4 mt-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    formControlName="permite_contactar">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        Mostrar informacion de contacto
                    </label>
                </div>
            </div>
            <div class="col-8 mt-12">
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>