<main class="mt-2">
    <h2 class="mt-3 text-2xl text-center text-[#03045E] font-semibold mb-2">
        Áreas de Administracion
    </h2>
    <div class="container-fluid py-1">
        <div class="row flex items-center justify-center">
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaEventos()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../../assets/Voluntariado.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Voluntariados</span>
                    <span class="font-medium">
                        &#10003; Solicitudes
                        <br> &#10003; Reportados
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaProductos()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../../assets/Productos.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Productos</span>
                    <span class="font-medium">
                        &#10003; Solicitudes
                        <br> &#10003; Reportados
                    </span>
                </div>
                <span class="temp">Administrar</span>

            </div>
            <div class="card col-md-4 mx-3 my-3 shadow">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../../assets/servicios.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Servicios</span>
                    <span class="font-medium">
                        &#10003; Solicitudes
                        <br> &#10003; Reportados
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaMonetaria()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../../assets/servicios.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Cuenta</span>
                    <span class="font-medium">
                        &#10003; Divisa
                        <br> &#10003; Reportados
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
        </div>
    </div>
</main>