<main class="mt-2">
    <h2 class="mt-3 text-2xl text-center text-[#03045E] font-semibold mb-2">
        Áreas de Administracion
    </h2>
    <div class="container-fluid py-1">
        <div class="row flex items-center justify-center">
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaProductos()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../assets/Productos.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Productos</span>
                    <span class="font-medium">
                        &#10003; Crear
                        <br> &#10003; Editar
                        <br> &#10003; Proveedores
                        <br> &#10003; Categorias
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaProductos()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../assets/Voluntariado.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Compras</span>
                    <span class="font-medium">
                        &#10003; Historial
                        <br> &#10003; Empleados
                    </span>
                </div>
                <span class="temp">Administrar</span>

            </div>
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaMonetaria()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../../assets/servicios.png" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Usuarios</span>
                    <span class="font-medium">
                        &#10003; Clientes
                        <br> &#10003; Empleados
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
            <div class="card col-md-4 mx-3 my-3 shadow" (click)="goAreaMonetaria()">
                <div class="absolute top-0 right-0 img">
                    <img src="./../../../assets/roportes.jpg" alt="img-voluntariado">
                </div>
                <div class="card-headerd">
                    <span>Reportes</span>
                    <span class="font-medium">
                        &#10003; Generales
                        <br> &#10003; Ventas
                        <br> &#10003; Productos
                    </span>
                </div>
                <span class="temp">Administrar</span>
            </div>
        </div>
    </div>
</main>