<div class="timeline">
    <li class="{{clase}}">
        <!-- representa la bolita-->
        <div class="timeline-badge primary"></div>
        <div class="timeline-panel">
            <div class="hed py-3 mb-3">
                <h4 class="">{{category.name}}</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p class="py-1 card-text text-base text-[#0077B6] font-mono">
                        Descripcion
                    </p>

                    <p class="text-sm  text-muted font-mono">
                        {{category.description}}
                    </p>
                    <div class="position-absolute bottom-0 end-0 mr-6 mb-2">
                        <a type="button" class="text-ms text-[#03045E]" (click)="goEvento()">
                            Ver Productos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>