<section class="container-fluid font-mono">
    <div class="row">
        <div class="col-md-12">
            <h3 class=" text-[#00B4D8] my-2">Todas mis Compras existosas</h3>
            <table class="table table-bordered shadow">
                <thead class="table-info">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Cant. Productos</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Total Gastado Q</th>
                        <th class="text-center">Metodo de pago</th>
                        <th class="text-center">opcion</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of carts; track $index) {
                    @if (!item.description_error) {
                    <tr class="text-center">
                        <th class="text-center">{{$index+1}}</th>
                        <td class="text-center">{{item.cartItems.length}}</td>
                        <td class="text-center">{{item.created_at.split('T')[0]}}</td>
                        <td class="text-center">{{item.total}}</td>
                        <td class="text-center">{{traducirPayMethod(item.payment_method)}}</td>
                        <td class="text-center">
                            <a class="btn btn-link" (click)="goDetalles(item.id)">ver detalles</a>
                        </td>
                    </tr>
                    }
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12 my-4">
            <h3 class=" text-[#00B4D8] my-2">Todas mis Compras Fallidas</h3>
            <table class="table table-bordered shadow">
                <thead class="table-info">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Cant. Productos</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Total Gastado Q</th>
                        <th class="text-center">Metodo de pago</th>
                        <th class="text-center">Descripcion error</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of carts; track $index) {
                    @if (item.description_error) {
                    <tr class="text-center">
                        <th class="text-center">{{$index+1}}</th>
                        <td class="text-center">{{item.cartItems.length}}</td>
                        <td class="text-center">{{item.created_at.split('T')[0]}}</td>
                        <td class="text-center">{{item.total}}</td>
                        <td class="text-center">{{traducirPayMethod(item.payment_method)}}</td>
                        <td class="text-center">{{item.description_error}}</td>
                    </tr>
                    }
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>