<section class="container-fluid font-mono">
    <div class="row">
        <div class="my-2 px-10">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Solicitud de Trueques que me envian</h3>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">producto Solicitado</th>
                        <th class="text-center">producto ofrecido</th>
                        <th class="text-center">cantidad Solicitado</th>
                        <th class="text-center">cantidad ofrecido</th>
                        <th class="text-center">Usuario Solicitante</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for (trueque of turequesPendientes; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(trueque.producto_solicitado)">
                                {{trueque.producto_solicitado?.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(trueque.producto_adar)">
                                {{trueque.producto_adar?.nombre}}
                            </a>
                        </td>
                        <td>
                            {{trueque.cantdad_solicitar}}
                        </td>
                        <td>
                            {{trueque.cantidad_dar}}
                        </td>
                        <td>
                            <a class="btn btn-link"
                                (click)="mostrarUsuario(trueque.usuario_solicitante)">{{trueque.usuario_solicitante?.name}}
                            </a>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="updateTruequeProducto(3,trueque)">
                                            Rechazar</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" (click)="updateTruequeProducto(2,trueque)">Aceptar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="my-2 px-10">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Solicitud de Trueques enviados</h3>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">producto Solicitado</th>
                        <th class="text-center">producto ofrecido</th>
                        <th class="text-center">cantidad Solicitado</th>
                        <th class="text-center">cantidad ofrecido</th>
                        <th class="text-center">Usuario Propetario</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for (trueque of trueques; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(trueque.producto_solicitado)">
                                {{trueque.producto_solicitado?.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(trueque.producto_adar)">
                                {{trueque.producto_adar?.nombre}}
                            </a>
                        </td>
                        <td>
                            {{trueque.cantdad_solicitar}}
                        </td>
                        <td>
                            {{trueque.cantidad_dar}}
                        </td>
                        <td>
                            <a class="btn btn-link"
                                (click)="mostrarUsuario(trueque.usuario_propietario)">{{trueque.usuario_propietario?.name}}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ajustarEstado(trueque.estado)}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="my-2 px-10">
            <h3 class=" text-[#03045E] text-center font-semibold mb-2">Solicitud de Trueques de prodcuto a servicio que
                me envian</h3>
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th class="text-center">producto a recibir</th>
                        <th class="text-center">cantidad de producto</th>
                        <th class="text-center">Servicio a dar</th>
                        <th class="text-center">opciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @for (trueque of truequesProductoServicio; track $index) {
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>
                            <a class="btn btn-link" (click)="mostrarDatosProducto(trueque.producto_intercambiar)">
                                {{trueque.producto_intercambiar?.nombre}}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-link">
                                {{trueque.cantidad_producto}}
                            </a>
                        </td>
                        <td>
                            {{trueque.servicio_intercambiar?.nombre}}
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn bt3 border dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Opciones
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" (click)="updateTruequeProductoServicio(3,trueque)">
                                            Rechazar</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"
                                            (click)="updateTruequeProductoServicio(2,trueque)">Aceptar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>