@if (servicio) {
<section class="container-fluid font-mono">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="border p-4 mt-16 rounded-xl shadow">
                <form [formGroup]="registerForm" (submit)="register()" class="row g-3">
                    <span class="text-center text-[#0077B6] ">Servicio: {{servicio.nombre}}</span>
                    <span class="text-sm text-muted text-[#03505e] ">Datos Obligatorios para Ofertar</span>
                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">oferta en ms</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="ms"
                            formControlName="moneda_ms">
                    </div>

                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">oferta en Quetzales</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="Q"
                            formControlName="moneda_local">
                    </div>
                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label">Descripcion</label>
                        <textarea class="form-control" aria-label="With textarea"
                            placeholder="ingrese una descripcion de su oferta, especificaciones, timpo..."
                            formControlName="descripcion"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-info">Ofertar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
}